footer {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-primary);
    text-align: center;
    padding: 20px;
    font-size: 14px;
  }
  
  .footer-content a {
    color: var(--mat-sys-primary);
    text-decoration: none;
    margin: 0 10px;
  }

  .footer-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }

  .footer-icon {
    color: var(--mat-sys-primary);
}

  