<footer>
    <div class="footer-content">
      <p>&copy; 2025 Selvagem Virtual. Feito Por: Maria Heloisa Fortes Pereira.</p>
      <nav class="footer-nav">
        <a>Desafio proposto por: Roger Santos - Refatorando </a> |
        <button 
        mat-icon-button 
        class="footer-icon" 
        aria-label=" icon-button with share icon" 
        #tooltip="matTooltip"
        matTooltip="Acesse o GitHub"
        matTooltipHideDelay="100000"
        (click)="openGitHub()"    
        >
        <mat-icon>code</mat-icon>
        </button>
      </nav>
    </div>
</footer>

  